body {
    color: #000080;
    background-color: #ffffff;
}
a:link {
    color: #800080;
}
a:visited {
    color: #FF0000;
}
#left {
    margin-left: 3%;
    float:left;
    width: 50%;

}
.small {
    display:block;
    font-size: .75em
}
header {

    text-align: center;
    font-weight:bold;
    border-bottom: 1px solid black;
}
#right {
    float:right;
    width:47%;
    clear:none;
}
.first_letter {
    font-size: 1.5em;
}
#header_1 {
    font-size: 1.15em;
    display:block;
}
#header_2 {
    display:block;
    font-size: .75em;
}
#header_3 {
    display:block;
    text-align:center;
    margin-bottom: 2%;
}
li {
    margin-bottom: 2%;
}
#logo {
    margin-top: 2%;
    display:block;
}
footer {
    margin-top:2%;
    margin-bottom: 2%;
    font-size: .8em;
    border-top:1px solid black;
    text-align:center;
    clear: both;
}
.footer_line{
    display:block;
}
#footer_end1 {
    display:block;
font-size: 1em;
text-align: left;
margin-bottom: 2%;
}
#footer_end2 {
    display:block;
    font-size: .5em;
    text-align: left;
    margin-bottom: 2%;

}
main {
    padding-bottom:10px;
}

/*
What is important to know when linking an external file (like a stylesheet) to an HTML file?
The file's location, its relationship, and type.
What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
I changed margins to get things to fit well, I used float to separate the left and right side, I used clear to keep the right side from bleeding into the footer, I used display block to break things up a bit, and a few other small things.
What CSS did you use to modify the element style (like size, color, etc.)
Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?
I did use classes and ids.  Classes were for when multiple elements used a formatting style and ids were for when only one element needed a formatting style.
When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
Comically enough mine has cleaner code and follows best practices.  The original has all the formatting in the html, and no css (which makes it a bit difficult to read).  It also uses no semantic elements to divide sections.  Hmmm...wonder if they need a redesigned site, and how many bootcampers have tried to sell them on their version.
*/
