body {
    color: #000080;
    background-color: #ffffff;
}
a:link {
    color: #800080;
}
a:visited {
    color: #FF0000;
}
#left {
    float:left;
    width: 50%;
    margin-right: 3%;
}
.small {
    font-size: .75em
}
header {
    text-align: center;
    font-weight:bold;
    border-bottom: 1px solid black;
}
section {
}
.first_letter {
    font-size: 1.5em;
}
#header_1 {
    font-size: 1.15em;
    display:block;
}
#header_2 {
    display:block;
    font-size: .75em;
}
#header_3 {
    display:block;
    text-align:center;
}
#cheat {
    display:block;
}
#logo {
    display:block;
}
footer {
    font-size: .8em;
    border-top:1px solid black;
    text-align:center;
    clear: both;
}
.footer_line{
    display:block;
}
#footer_end1 {
    display:block;
font-size: 1em;
text-align: left;
}
#footer_end2 {
    display:block;
    font-size: .5em;
    text-align: left;

}
main {
    padding-bottom:10px;
}